.container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.items{
  box-sizing: border-box;
  border: 1px solid #858585;
  width: 300px;
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
}

.items .item_date{
  box-sizing: border-box;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid #858585;
}

.items .item_date .date{
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #858585;
}

.anniversary{
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.anniversary .anniversary_calc{
  border-bottom: 1px solid #858585;
  background-color: #858585;
  color: white;
  padding-left: 10px;
  font-size: 14px;
}

.anniversary .anniversary__dates{
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.anniversary__dates .dates{
  flex-grow: 1;
  border-bottom: 1px solid #858585;
  padding: 0 10px;
  position: relative;
}

.anniversary__dates .dates:last-child{
  border: none;
}

.anniversary__dates .dates>span{
  position: absolute;
  bottom:13px;
  font-weight: bold;
}

.anniversary .anniversary__dates .injectedDate{
  font-weight: 100;
  font-size:14px;
  padding-left: 180px;
}

.button{
  margin-top:100px;
  border:1px solid #858585;
  padding:10px;
  width: 100px;
  text-align: center;
  transition: 0.3s;
}

.button:hover{
  background: black;
  color:white;
}
